In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [8]:
date_ser = pd.Series(['Nov 3, 1990',  None])
date_ser

0    Nov 3, 1990
1           None
dtype: object

In [12]:
date_format = '2023-06-23'
new_format_series = pd.to_datetime(date_ser)
new_format_series

0   1990-11-03
1          NaT
dtype: datetime64[ns]

In [14]:
sales = pd.read_csv('/Users/mcrandom/Downloads/RetailSales_BeerWineLiquor (2).csv')
sales

           DATE  Total_Sales
0    1992-01-01         1509
1    1992-02-01         1541
2    1992-03-01         1597
3    1992-04-01         1675
4    1992-05-01         1822
..          ...          ...
335  2019-12-01         6630
336  2020-01-01         4388
337  2020-02-01         4533
338  2020-03-01         5562
339  2020-04-01         5207

[340 rows x 2 columns]